* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --base-color: 260;
  --bg-color: #121214;
  --primary-color: hsla(var(--base-color), 100%, 63%);
  --bg--primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --text-color: #ffffff;
}

body {
  display: grid;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  justify-self: center;
  align-self: end;
}

.hide {
  display: none;
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);
  display: flex;
  padding-bottom: 1.6rem;
}

#control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  background-color: var(--bg--primary-light);
  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 5rem + 10vw, 10.8rem);
}

footer {
  justify-self: end;
  align-self: end;
  padding: 0 2rem 3.2rem 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
