* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color-light: #cbc0d3;
  --background-color-dark: #8e9aaf;
  --background-color-soft: #eff1ff;
  --text-color-dark: #4a4e69;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.page header {
  padding: 3.2rem 0;
  min-width: 38.4rem;
  min-height: 27.9rem;
  background-color: var(--background-color-dark);
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

img {
  width: 100%;
  height: auto;
}

.page header img {
  display: flex;
  margin: 0 auto 3.2rem;
  width: 13.7rem;
  height: 13.7rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

.page header h1 {
  text-align: center;
  font-family: 'Staatliches', cursive;
  font-style: normal;
  color: #ffffff;
  background-color: var(--background-color-light);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8rem 8.6rem 0.7rem 8.7rem;
}

.page {
  max-width: 38.4rem;
  margin: 0 auto;
  background-color: var(--background-color-soft);
  padding-bottom: 1rem;
}

main {
  display: grid;
  height: auto;
  margin: 3.2rem 3.2rem;
}

header p {
  margin: 1.4rem 3.8rem 6.3rem;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.0rem;
  text-align: center;
  color: #23053a;
}

body .card img {
  object-fit: cover;
  margin-bottom: 3.2rem;
  animation: downup 800ms;
  transition: all 200ms;
}

body .card img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.card {
  position: relative;
}

body .card h2 {
  position: absolute;
  font-family: 'Staatliches', cursive;
  color: var(--text-color-dark);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding: 0.1rem 2.3rem;
  background-color: #feeafa;
  border-radius: 2rem;
  width: 11.2rem;
  height: 3.5rem;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  animation: updown 800ms;
  transition: 300ms;
}

footer {
  text-align: center;
  margin-bottom: 4.6rem;
}

footer a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 400;
  font-weight: 300;
}

footer a span {
  font-weight: 700;
}

/* Animação */
@keyframes downup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 700px) {
  .page {
    max-width: 117rem;
  }

  .page {
    display: flex;
    min-width: 128.7rem;
    min-height: 72rem;
  }

  .page header p {
    text-align: center;
    max-width: 27rem;
    max-height: 27rem;
    margin: 3.2rem auto 0;
  }
  main {
    grid-template-areas:
      'A B E '
      'D B F '
      'D C F ';
  }

  header p {
    font-family: 'Roboto', sans-serif;
    color: var(--background-color-soft);
    font-size: 2rem;
    line-height: 2rem;
  }

  main {
    gap: 3.2rem;
  }

  main div img {
    min-width: 20rem;
  }

  main div:nth-child(1) {
    grid-area: A;
  }

  main div:nth-child(2) {
    grid-area: B;
  }

  main div:nth-child(3) {
    grid-area: C;
  }

  main div:nth-child(4) {
    grid-area: D;
  }

  main div:nth-child(5) {
    grid-area: E;
  }

  main div:nth-child(6) {
    grid-area: F;
  }
}
