* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu img {
  width: 500px;
  height: 500px;
  
}

.menu img:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.menu h2 {
  position: absolute;
  background-color: white;
  border-radius: 20px;
  margin: 20px 20px;
  top: 200px;
  
}