* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --background-color: #000;
  --text-color: #FFFFFF;
  --text-gray-color: #7C7C8A;
  --text-title-color: #E1E1E6;
  --button-x-color: #F75A68;
}

body {
  font-size: 1.6rem;
  
}


table img {
  width: 5rem;
}