* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --background-color: #000;
  --text-color: #ffffff;
  --text-gray-color: #7c7c8a;
  --text-title-color: #e1e1e6;
  --button-x-color: #f75a68;
  --background-color-light: rgb(6, 24, 28);
  --background-color-dark: rgba(6, 22, 27, 0.5);
  --background-table-header: rgb(9, 45, 56);
  --background-button-color: #065e7c;
  --primary-font: 'Roboto', sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: var(--primary-font);
  background-color: var(--background-color);
  color: var(--text-color);
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  opacity: 0;
}

#app {
  padding: 2rem;
  margin: 0 auto;
  min-width: 20rem;
  max-width: 60rem;
}

#app header {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
}

.search input {
  padding: 0.6rem;
  border: none;
  border-radius: 0.3125rem;
  margin-right: 0.2rem;
  background-color: var(--background-color-light);
}

.search button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 0.3125rem;
  padding: 0.45rem 1rem;
  background-color: var(--background-button-color);
  color: var(--text-color);
}


.search button img {
  width: 1.5rem;
}

table {
  border-collapse: collapse;
  font-weight: 700;
  line-height: 2rem;
  border-collapse: collapse;
  width: 100%;
}

table img {
  width: 5rem;
  border-radius: 5rem;
  object-fit: contain;
}

table thead {
  background-color: var(--background-table-header);
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 1.25rem;
}

table .users {
  display: flex;
  gap: 1rem;
  align-items: center;
}

table tbody tr td a {
  text-decoration: none;
  color: var(--text-title-color);
}

table tbody tr td a span {
  font-weight: 400;
  font-size: 1.4rem;
}


table tbody tr td {
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

table thead tr th {
  padding: 1.5rem 2.5rem;
}

table thead tr th:first-child {
  border-top-left-radius: 0.5rem;
}

table thead tr th:last-child {
  border-top-right-radius: 0.5rem;
}

table tr:nth-child(odd) {
  background-color: var(--background-color-dark);
}

table tr:nth-child(even) {
  background-color: var(--background-color-light);
}


table tbody td button {
  text-transform: none;
  border: none;
  text-decoration: none;
  background-color: transparent;
  color: var(--button-x-color);
}