* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-darkblue: hsl(218, 23%, 21%);
  --color-lightblue: hsl(201, 41%, 82%);
  --color-red: hsl(6, 89%, 69%);
  --color-white: hsl(0, 0%, 100%);
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-lightblue);
}

header {
  color: var(--color-white);
  background-color: var(--color-darkblue);
  width: 144rem;
  height: 46.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header h1 {
  margin: 10.7rem 57.9rem 0;
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.5rem;
}

header p {
  margin: 0 0 2rem 0;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

header img {
  margin: 0 0 3.2rem 0;
  width: 22.5rem;
  height: 10rem;
}

header .top {
  background-color: var(--color-red);
  width: 75rem;
  height: 109.5rem;
  border-radius: 2rem 2rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header .top h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.4rem;
}

form {
  width: 75rem;
  height: 107.5rem;
  background-color: var(--color-white);
  border-radius: 0 0 2rem 2rem;
  padding: 3.1rem 6.4rem 0;
}

fieldset {
  border: none;
}

