* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bk-color-light: #cbc0d3;
  --bk-color-dark: #8e9aaf;
  --bk-color-soft: #eff1ff;
  --text-color-dark: #4a4e69;
  /* 62.5 = 1rem = 10 px*/
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

body header {
  width: 38.4rem;
  height: 27.9rem;
  background-color: var(--bk-color-dark);
  filter: drop-shadow(0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
}

body header img,
body .menu img {
  width: 100%;
  height: auto;
}

body header img {
  width: 13.7rem;
  height: 13.7rem;
  left: 12.4rem;
  top: 3.2rem;
  margin: 3.2rem 12.3rem 3.2rem 12.4rem;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
}

body header h1 {
  font-family: 'Staatliches', cursive;
  font-style: normal;
  color: #ffffff;
  background-color: var(--bk-color-light);
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;
  letter-spacing: 0.05rem;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  padding: 0.8rem 8.6rem 0.7rem 8.7rem;
}

body .wrapper {
  width: 38.4rem;
  height: 175rem;
  background-color: var(--bk-color-soft);
  padding: 1.4rem 3.2rem 6rem;
}

body p {
  font-family: 'Palanquin', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  align-items: center;
  color: #23053a;
}

body .menu img {
  object-fit: cover;
  margin-bottom: 3.2rem;
  animation: downup 800ms;
  transition: all 200ms;
}

body .menu img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

body .menu {
  margin-top: 6.3rem;
  position: relative;
}

body .menu .menu-picole img {
  margin-bottom: 6rem;
}

body .menu h2 {
  font-family: 'Staatliches', cursive;
  color: var(--text-color-dark);
  text-transform: uppercase;
  font-size: 2rem;
  line-height: 3.4rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  padding: 0.1rem 2.3rem;
  background-color: #feeafa;
  border-radius: 2rem;
  width: 11.2rem;
  height: 3.5rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  right: 1rem;
  top: 1rem;
  animation: updown 800ms;
  transition: 300ms;
}
/* Animação */
@keyframes downup {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes updown {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
